# Firebase Configuration
REACT_APP_FIREBASE_API_KEY=AIzaSyCPDNlWXv_M7NlAX0kphleDCxug7eJ3TcQ
REACT_APP_FIREBASE_AUTH_DOMAIN=logistica-c7afc.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=logistica-c7afc
REACT_APP_FIREBASE_STORAGE_BUCKET=logistica-c7afc.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=744598379245
REACT_APP_FIREBASE_APP_ID=1:744598379245:web:7432cd7d659f8ee7774ae4
REACT_APP_FIREBASE_MEASUREMENT_ID=G-98ZBQM67V5

# App Configuration
REACT_APP_NAME=SGL - Sistema de Gestão de Logística
REACT_APP_VERSION=1.0.0
REACT_APP_ENVIRONMENT=production 